.kside-driven {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Default layout for large screens */
  padding: 2rem;
  background-color: #001201;
  color: #fff;

  .kside-content {
    flex: 1;
    padding-right: 2rem;
    margin: 0 4rem;

    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.3;
      font-family: 'poppins';
    }

    p {
      margin-top: -2%;
      font-size: 0.9rem;
      line-height: 1.5;
      font-weight: 400;
    }
  }

  .info-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 40%;
    margin-right: 4rem;

    .box {
      align-items: center;
      padding: 1.5rem;
      background-color: #fff;
      color: #000;
      font-size: 0.85rem;
      font-weight: 600;
      text-align: justify;
      border-radius: 10px;

      .icon {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        color: #000;
      }

      p {
        margin-top: 0.5rem;
        font-size: 0.7rem;
      }
    }
  }

  /* Tablet View */
  @media (max-width: 1024px) {
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    text-align: center;
    padding: 1.5rem;

    .kside-content {
      padding-right: 0;
      margin: 0;

      h2 {
        font-size: 3rem;
        color: #fff;        
      }

      p {
        font-size: 1rem;
        font-weight: 600;
        font-family: 'poppins';
        text-align: center;
      }
    }

    .info-boxes {
      width: 80%;
      grid-template-columns: 1fr;

      .box {
        padding: 1.5rem;
        width: 80%;
        margin: 0 3.5rem;
        text-align: center;
        font-size: 0.95rem;

        .icon{
          margin: 0 3%;
          margin-top: 3%;
          margin-bottom: -1%;
        }
      }
    }
  }

  /* Mobile View */
  @media (max-width: 768px) {
    .kside-content h2 {
      font-size: 1.8rem;
    }

    .kside-content p {
      font-size: 0.8rem;
    }

    .info-boxes {
      width: 100%;
    }

    .box {
      padding: 1rem;

      p {
        font-size: 0.65rem;
      }
    }
  }

  /* Small Mobile View */
  @media (max-width: 480px) {
    padding: 1rem;

    .kside-content h2 {
      font-size: 1.5rem;
    }

    .kside-content p {
      font-size: 0.75rem;
    }

    .info-boxes .box {
      padding: 0.8rem;

      .icon {
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}
